.idea-card .card-header .title {
  font-size: 22px;
  font-weight: 600;
}

.idea-card .card-header .title a {
  color: inherit;
  text-decoration: none;
}

.rich-editor-wrapper {
  padding: 1rem;
  border: 1px solid #ccc;
}

.rdw-editor-toolbar a.rdw-dropdown-selectedtext {
  text-decoration: none;
  color: inherit;
}